html, body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background: #333;
	color: #fff;
	height: 100%;
}

* {
	box-sizing: border-box;
}

/* T Y P O G R A P H Y */

h1 {
	font-weight: 300;
	text-align: center;
	margin: 0.5em 1em 1em;
}

/* L A Y O U T */

header {
	height: 100%;
	height: 100vh;
	display: flex;
  	align-items: center;
  	justify-content: center;
    padding-bottom: 1em;
    flex-direction: column;
}

.logo {
    width: 6em;
}